.alunos {
    margin-top: 400px;
    color: black;
    font-size: 12px;
}

.mostrarAluno {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
}    
.mostrarAluno h1 {
    
    margin-top: 10px;
    background: #f05a26;
    color: white;
    width: 100%;
    height: 60px;
    text-align: center;
}
.mostrarAluno span {
    padding: 15px;
}
